python-telegram-bot
wheel
web3
psutil
requests
prettytable
eth-utils

# psutil==5.8.0  # This is the latest as of my last update, make sure to use the version suitable for your application.
# requests==2.25.1  # Latest version as of my last update.
# prettytable==2.1.0  # Latest version as of my last update.
# python-telegram-bot==13.7  # Latest version as of my last update.
# eth-utils==1.10.0  # Latest version as of my last update.
# web3==5.23.0  # Latest version as of my last update.
